.card-vazio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80px;
  width: 100%;
  background-color: #f8f9fa;
  border-left: 3px solid #f8f9fa;
  margin: 15px 0;
}

.card-vazio-linhaG {
  width: 60%;
  height: 14px;
  background-color: #e9ecef;
  margin: 10px 0 0 5px;
}

.card-vazio-linhaP {
  width: 20%;
  height: 14px;
  background-color: #e9ecef;
  margin: 0 0 10px 5px;
}
